h1{
    color: black;
}
span{
    color: gray;
}
ul{
    display: flex;
   justify-content: space-between;
    width: 50%;
    margin:-50px;
    margin-left: 350px;
    gap: 90px;
   


}
.container{
    width:100%;
    height:100px;
    margin: 20px;
   background-color:#666666;
}
li{
    list-style: none;
 
    
}
a{
    text-decoration: none;
    color: #333;
    
}
